services:
  database:
    container_name: "auth-postgres-dev"
    image: "postgres:17.2-alpine3.20"
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  mailcatcher:
    container_name: "auth-mailcatcher-dev"
    image: sj26/mailcatcher
    expose:
      - "${EMAIL_SMTP_PORT}"
      - "${EMAIL_HTTP_PORT}"
    ports:
      - "${EMAIL_SMTP_PORT}:1025"
      - "${EMAIL_HTTP_PORT}:1080"

  app:
    build:
      context: ../back-end/.
      dockerfile: ../back-end/Dockerfile
    container_name: uniHub-api
    depends_on:
      database:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://database:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      PEPPER: ${PEPPER}
    ports:
      - "8080:8080"
